{% extends "EZCoreBundle:default/Layout:"~ template ~".html.twig" %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock %}

{% block extaz_body %}
    <div class="container-site">
        <div class="rows">
            <div class="col-md-6">
                <div class="content">
                    <div class="title-log">S'inscrire</div>
                    {% trans_default_domain 'FOSUserBundle' %}

                        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                        {% if targetUrl %}
                            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                        {% endif %}
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}