{% extends "EZCoreBundle:admin/Layout:admin.html.twig" %}

{% block title %}
    Gestion des groupes - {{ parent() }}
{% endblock %}

{% block admin_body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Modifier groupe
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div>
                <input type="submit" class="button-green right" value="Ajouter" />
            </div>
            {{ form_end(edit_form) }}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}